@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

/* 
  #220901 Licrorice
  #f6aa1c Orange (web)
  #ede0d4 Almond
  #2e3138 Gunmetal
*/

/* Genral Styles Start */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: auto 75px;
  font-family: "Inter", sans-serif;
}

.home {
  background-color: #220901;
  color: #ede0d4;
}

.menu {
  background-color: #f6aa1c;
}

.about {
  background-color: #2e3138;
}

.contact {
  background-color: #ede0d4;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  color: #ede0d4;
}

/* General Styles End */

/* Header Start */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #220901;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 75px;
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navUl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navUl li {
  padding-left: 70px;
  list-style: none;
}

.navLinks {
  font-weight: 500;
  font-size: 1.25em;
  text-decoration: none;
  color: #ede0d4;
  transition: all 0.3s ease 0s;
}

.navLinks:hover {
  color: #f6aa1c;
}

.navLinks.active {
  color: #f6aa1c;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ede0d4;
}

/* Header End */

/* Main Start */

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.labelCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.title {
  font-family: "Satisfy", cursive;
  font-size: 7em;
  color: #f6aa1c;
}

.tagline {
  font-size: 3em;
  font-weight: 700;
  color: #ede0d4;
}

.btnCtn {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 75px;
}

.menuBtn,
.contactBtn {
  text-decoration: none;
  border: none;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 1.25em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.menuBtn {
  margin-right: 15px;
  background-color: #f6aa1c;
  color: #220901;
  border: #f6aa1c solid 2px;
}

.contactBtn {
  background-color: #220901;
  border: #ede0d4 solid 2px;
  color: #ede0d4;
}

.menuBtn:hover {
  background-color: #220901;
  color: #ede0d4;
  border-color: #ede0d4;
}

.contactBtn:hover {
  background-color: #f6aa1c;
  color: #220901;
  border-color: #f6aa1c;
}

.imgCtn img {
  width: 800px;
}

/* Main End */

@media screen and (max-width: 1440px) {
  /* General Styles Start */

  html {
    margin: auto 50px;
  }

  header {
    padding: 25px;
  }

  /* General Styles End */

  /* Header Start */

  .logo {
    font-size: 1.5em;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger:hover .bar {
    background-color: #f6aa1c;
  }

  .hamburger.active .hamburger:hover .bar {
    background-color: #f6aa1c;
  }

  .navUl {
    position: fixed;
    right: -100%;
    top: 79px;
    gap: 0;
    flex-direction: column;
    background-color: #220901;
    text-align: center;
    transition: 0.3s;
  }

  .navUl li {
    display: flex;
    padding: 0px;
  }

  .navLinks {
    font-size: 1em;
    padding: 25px 50px;
  }

  /* Header End */

  /* Main Start */

  main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .labelCtn {
    align-items: center;
  }

  .imgCtn img {
    width: 300px;
  }

  .navUl.active {
    right: 0;
  }

  .title {
    font-size: 3em;
  }

  .tagline {
    font-size: 1.5em;
  }

  .btnCtn {
    margin-top: 50px;
  }

  .contactBtn,
  .menuBtn {
    padding: 10px 25px;
    font-size: 0.8em;
  }

  .menuBtn:active {
    background-color: #220901;
    color: #ede0d4;
    border-color: #ede0d4;
  }

  .contactBtn:active {
    background-color: #f6aa1c;
    color: #220901;
    border-color: #f6aa1c;
  }

  /* Main End */
}
